// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.jumbotron {
  background-color: transparent;
  height: 550px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-background {
  position: absolute;
  top: 0;
  z-index: -99;
  width: 100%;
  height: 600px;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  overflow: hidden;
  background-color: transparent;
}

.welcome {
  display: block;
  color: #fff;
  text-rendering: optimizelegibility;
  line-height: 1.1;

  h3 {
    color: white;
  }
}

.intro {
  padding: 50px;
  margin: 50px auto;
  vertical-align: middle;
  font-size: 1.65rem;
  line-height: 3rem;
  width: 800px;
  background-color: #fff;

  .rails-logo {
    height: 200px;
  }
}
