=form_for @user, :html => {:class => "form-horizontal", 'data-type' => 'json'}, remote: true, :authenticity_token => true, :format => :json, :multipart => true do |f|
  %h2.underline= t('edit-profile-picture')
  %p=t('upload_message')
  .flexbox.flex-center
    .btn.btn-default{:onclick => 'upload()'}= t('choose-file')
    = f.file_field :avatar, :style => 'visibility: hidden; position: absolute'