.popup
  .popup-inner#popup
    .container-fluid
      .row
        %h2.image-crop-title= t('edit-profile-picture')
        %span.btn-close.glyphicon.glyphicon-remove{'aria-hidden' => true}
    =render('users/avatar')