.popup
  .mdl-card.mdl-shadow--16dp.mdl-card-lg
    .mdl-card__title
      .mdl-card__title-text= t('users.edit-profile-picture')
      .mdl-layout-spacer
      %i#btn-close.material-icons close
    =render('users/avatar')