.container-fluid
  .row.container-margin
    .col-xs-12.text-center
      =link_to(avatar_popup_path, :remote => true) do
        =image_tag @user.avatar.url(:medium), :class => 'avatar'
      .user-info
        %h1 #{@user.name}
        %i @#{@user.username}
      .container-margin
        =link_to t('edit'), edit_user_registration_path, :class => 'btn btn-default'