.container-fluid
  .row.container-margin
    .col-xs-12.text-center
      =image_tag @user.avatar.url(:medium), :class => 'avatar'
      .user-info
        %h1 #{@user.name}
        %i @#{@user.username}