- title "Filmer"
.jumbotron
  .welcome-background
    %video.embed-responsive-item{:autoplay => 'autoplay', :loop => '1', :poster => image_url('landing-background.jpeg')}
      %source{:src => '/videoplayback'}
  .container
    .welcome.text-center
      %h1.tagline= t('tagline')
      %h3= t('slogan')
      .container{ :style => "margin-top: 25px;"}
        %a.btn.btn-landing{ :href => new_user_session_path}= t('get-started')