- title "Filmer"
.jumbotron
  .welcome-background
    %video.embed-responsive-item{:autoplay => 'autoplay', :loop => '1', :poster => image_url('landing-background.jpeg')}
      %source{:src => '/videoplayback'}
  .container
    .welcome.text-center
      %h1.tagline= t('landing.tagline')
      %h3= t('landing.slogan')
      .container{ :style => "margin-top: 25px;"}
        %a.btn.btn-landing{ :href => new_user_session_path}= t('landing.get-started')
.container
  .intro-card.center-block.landing-card
    .text-center
      =image_tag 'rails-logo.png', :class => 'rails-logo'
      %p
        #{t('landing.intro-text')}
        %a{:href => 'https://github.com/dukeimg/filmer'}
          =icon('github')
          GitHub
      =link_to t('landing.learn-more'), about_path, :class => 'btn btn-default'