-#loading
  .container-fluid
    %h1 Slider
    %h2 ...loading
  #loading.loading-colors.color-1
  #loading.loading-colors.color-2
  #loading.loading-colors.color-3
-#%script{ :language => "javascript", :type => "text/javascript"}
  loading();

.editor
  .actions-bar
    %a.actions{:href => "#"} Каждый
    %a.actions{:href => "#"} Охотник
    %a.actions{:href => "#"} Желает
    %a.actions{:href => "#"} Знать
    %a.actions{:href => "#"} Где
    %a.actions{:href => "#"} Сидит
    %a.actions{:href => "#"} Фазан
  .tool-bar
    .tools
      .tool#label
      .tool#image
      .tool#video
      .tool#audio
      .tool#social
      .tool#note
  .preview
    .page

%script{ :language => "javascript", :type => "text/javascript"}
  mediaLoad();
