/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require jquery.Jcrop
 */
@import "variables";

.container {
    width: 970px;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary_color;
    margin: 20px 0;
}

a {
    color: $secondary_color;
}

a:hover {
    text-decoration: none;
    color: #cccccc;
}

footer {
    width: 100%;
    background-color: $primary_color;
    padding-top: 18px;
}

.footer-main {
    font-size: 1.5em;
}

.footer-main a {
    color: white;
}

.footer-main ul {
    list-style: none;
}

.footer-main h3 {
    border-bottom: 2px solid white;
    color: white;
    margin: 0 0 18px 0;
}

.copyrights {
    margin-left: 18px;
    color: #fff;
}

.flexbox {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-top {
    justify-content: center;
    align-items: flex-start;
}

.container-fullscreen {
    height: 100%;
    width: 100%;
}

.container-margin {
    margin: 20px 0;
}

.btn-default {
    border-radius: 0;
    color: white;
    padding: 9px 27px;
    background-color: $primary_color;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid $secondary_color;
}

.btn-default:hover {
    background-color: $primary_color;
    color: white;
}

.tagline {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.logo-brand {
    color: #ffffff;
    font-family: 'Classica Two';
    height: 50px;
    font-size: 25px;
}

.btn-squared {
    border-radius: 0;
    width: 100%;
    height: 50px;
}

.footer-legal {
    margin-top: 38px;
}

.navbar-default {
    background-color: $primary_color;
    border: none;
    width: 100%;
    border-radius: 0;
    margin: 0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: $secondary_color;
    background-color: white;
}

.underline {
    border-bottom: 1px solid $secondary_color;
}

.panel-heading {
    margin: 0;
}

.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.50);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 100;
}

.popup-inner {
    min-width: 650px;
    background-color: white;
    padding: 18px;
  max-height: 90%;
}

.btn-back {
  position: absolute;
  top: 60px;
  left: 20px;
  text-decoration: none;
  color: $secondary_color;

  &:hover {
    text-decoration: none;
  }
}

.nav-tabs {
  li a{
    color: $secondary_color;
  }
}

.btn-close {
  position: relative;
  float: right;
  color: $primary_color;
  font-size: 2em;
  cursor: pointer;
  margin: 20px 0;
}

.sticky {
  position: absolute;
  bottom: 0;
}