.btn-default {
  border-radius: 0;
  color: white;
  padding: 9px 27px;
  background-color: $primary_color;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid $secondary_color;
  margin: 15px 0;

  &:hover {
    background-color: $primary_color;
    color: white;
  }
}

.btn-squared {
  border-radius: 0;
  width: 100%;
  height: 50px;
}

.btn-back {
  position: absolute;
  top: 60px;
  left: 20px;
  text-decoration: none;
  color: $secondary_color;

  &:hover {
    text-decoration: none;
  }
}

.btn-close {
  position: relative;
  float: right;
  color: $primary_color;
  font-size: 2em;
  cursor: pointer;
  margin: 20px 0;
}

.btn-landing {
  border-radius: 0;
  color: white;
  padding: 9px 27px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: rgba(0,0,0, 0.5);
    color: white !important;
  }
}