body {
  color: #565a5c;
  font-family: "Roboto" !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary_color;
  margin: 20px 0;
}

a {
  color: $secondary_color;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #cccccc;
}

.tagline {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
}

.logo-brand {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

.underline {
  padding-bottom: 15px;
  border-bottom: 1px solid $secondary_color;
}

.panel-heading {
  margin: 0;
}

.layout-transparent {
  background: url('https://dl.dropboxusercontent.com/u/100656262/seattle.jpg') center / cover;
}

.bg-transparent {
  background-color: transparent;
}

#btn-close {
  cursor: pointer;
}

