//MDL

.mdl-card__media > img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mdl-card-wide {
  width: 100%;
}

.mdl-card-lg {
  width: 512px;
}

.mdl-card__title {
  color: rgb(64, 64, 64);
}

.mdl-mega-footer__social-btn {
  color: rgb(158, 158, 158);
  font-size: 32px;
  background-color: transparent;
}
