.jumbotron {
  background-color: transparent;
  height: 550px;
  margin: 50px 16px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcome {
  display: block;
  color: #fff;
  text-rendering: optimizelegibility;
  line-height: 1.1;
  width: 100%;
  max-width: 900px;

  h3 {
    color: white;
  }
}

.intro-grid {
  max-width: 900px;
}

.rails-logo {
  margin: 16px auto 17px auto;
}

//about

.triangle {
  height: 30px;
  opacity: 0;
  position: absolute;
}

.dukeimg-background {
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #111111;
  z-index: -1;
}

.dukeimg {
  height: 100%;
  color: $dukeimg_card_color;

  #{headings(1,6)} {
    color: $dukeimg_card_color
  }

  a {
    color: $dukeimg_card_color;
  }
}

/*ANIMATIONS*/

@keyframes triangle-opacity{
  20%{
    opacity: 1
  }
  50%{
    opacity: 0.7;
  }
  80%{
    opacity: 1
  }
}

@keyframes fly-triangle{
  0%{
  }
  100%{
    transform: translate(1250%, -600px) rotate(720deg) rotateY(-520deg);
  }
}

