// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-back {
  position: absolute;
  top: 70px;
  left: 20px;
  text-decoration: none;
  color: #ff5a5f;

  &:hover {
    text-decoration: none;
  }
}

.nav-tabs {
  li a{
    color: #ff5a5f;
  }
}