// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-card {
  height: 300px;
}

.avatar {
  border-radius: 50%;
}

.image-crop-title {
  display: inline-block;
}

//lines

.text-line:before {
  content: "";
  display: block;
  border-top: 1px solid rgba(0,0,0,.1);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
  overflow: hidden;
}

.text-line span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 5;
  text-align: center;
}