%header.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{ :href => root_path}
        .logo-brand= t('Filmer')
    %nav
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li
            =link_to t('suggest'), beta_path
          %li.dropdown
            %a.dropdown-toggle{:href => '#', :type => 'button', 'data-toggle' => "dropdown", 'aria-haspopup' => "true", :style => 'padding: 0 15px'} #{image_tag current_user.avatar.url(:thumb), :class => 'avatar'} #{current_user.name} <span class='caret'></span>
            %ul.dropdown-menu
              %li
                =link_to t('sign-out'), destroy_user_session_path, method: :delete
                =link_to t('profile'), current_user
        -else
          %li
            %a{ :href => new_user_session_path}= t('sign-in')